<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Submit Fax</h1>
        <div class="callout">
        <h2>If you have some fun animal facts you'd like to share, please submit them! We may use them in the future.</h2>
        </div>
        <div class="facts-container">
            <form>
                <label for="submitter">Name</label>
                <input name="submitter" type="text">
                <label for="fact">Fact</label>
                <textarea name="fact"></textarea>
                <input type="submit" value="Submit the Fact">
            </form>
        </div>
        <a href="/pets">Go back</a>
    </div>
</body>
</html>